{% extends 'layouts/base.html' %}

{% block title %} Distilled Knowledge {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
<!-- {% include "includes/footer.html" %} -->
    </div>
<!-- {% endblock content %} -->

<!-- Specific JS goes HERE --> 
<!-- {% block javascripts %}{% endblock javascripts %} -->
