{% extends 'layouts/base.html' %}


<!DOCTYPE html>




<html>

<head>
    <title>FC-python wrapper</title>
    {% load static %}
    <script type="text/javascript" src="{% static "https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.maps.js" %}"></script>
    <script type="text/javascript" src="{% static "https://cdn.fusioncharts.com/fusioncharts/latest/maps/fusioncharts.world.js" %}"></script>
    <script type="text/javascript" src="{% static "https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js" %}"></script>
</head>

<body>
    <div id="myFirstchart-container">{{ output|safe }}</div>
</body>

</html>




<!-- Specific JS goes HERE --> 
{% block javascripts %}


<script type="text/javascript" src= "https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js" ></script>


<script type="text/javascript" src= "https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.maps.js" ></script>


<script type="text/javascript" src= "https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js" ></script>


{% endblock javascripts %}
